.btn {
    width: 120px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    box-sizing: border-box;
    letter-spacing: 3px;
}
.boom {
    background-color: #16a085;
    color: #fff;
    position: relative;
    z-index: 1;
}
.boom::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #16a085;
    border-radius: 20px;
    transform-origin: center;
}
.boom:hover::before {
    transform: scale(1.25);
    transition: all ease-out .5s;
    border: 1px solid #96f3e0;
    opacity: 0;
}

#copyright-box {
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
}
#copyright-footer.column {
    margin: 0 auto;
    width: 100%;
    min-width: 972px;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,.05);
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.05);
    padding: 24px 34px 20px;
}
#copyright-footer.column.small {
    max-width: 760px;
    min-width: auto;
    padding: 16px 0 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#copyright-footer.column .footer-column-b {
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#copyright-footer.column.small .footer-column-b {
    margin-top: 10px;
}
#copyright-footer a {
    text-decoration: none;
    color: inherit;
}
#copyright-footer li, #csdn-copyright-footer ul {
    list-style: none;
}
#copyright-footer.column .footer-column-b li {
    font-size: 12px;
    color: #999aaa;
    height: 16px;
    line-height: 16px;
    margin: 4px 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#copyright-footer.column.small .footer-column-b li {
    margin: 2px 3px;
}